.main {
    height: 100%;
    width: 100vw;
    margin: 75px 0;
}
.spotWrapper {
    width: 75%;
    height: 95%;
    /* background-color: grey; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.spotItem {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* background-color: white; */
    
}
.spotItem a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footwear img,
.living img{
    max-width: 80%;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .spotWrapper {
        flex-flow: column;
    }
    .spotWrapper {
        width: 100%;
    }
    .spotItem {
        width: 90%;
        margin: 25px 0;
    }
    .footwear img,
.living img{
    max-width: 85%;
}
.main {
    margin: 0px;
}
}