.mainWrapper{
    width: 100vw;
    background-color: white;
    padding-bottom: 50px;
}

.mensWrapper {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;

}
.card-img-top {
    height: 50%;
}

.productCard {
    width: 31%;
    height: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: flex;
    flex-flow:column;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
}
.productCard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.productCard a {
    text-decoration: none;
    color: black;
    width: 85%;
    height: 90%;
    margin-top: 25px;
    display: flex;
    flex-flow: column;
}
.productCard a img {
    width: 60%;
    height: 30%;
    margin: 0 auto;
}
.productCard a {
    height: 400px;
}
.productContent {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 25px;
}
.productContent p {
    font-size: 12px;
}
/* .productContent {
    width: 85%;
    height: 40%;
    margin-top: 25px;
} */

