.footer{
    background-color: pink;
    height: 300px;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.button {
    width: auto;
    height: 40px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 14px;
    margin: 0 auto;
}